
body {
    background: linear-gradient(135deg, #1e1f29, #2b5876);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
 
  }
  
  h1{
    font-size: 50px;
  }  

  h4{
    border-radius: 10%;
    background-color: #1e1f29;
    color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
  }

  h1 span {
    color: #00ffcc;
    font-size: 26px;
  }  

  .ring {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 25px rgba(0, 255, 204, 0.5);
  }

  .ringText{
    margin-top: -20px;
  }
  

  .ring::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    box-sizing: border-box;
    border: 8px solid transparent;
    border-top-color: #ff0080;
    border-right-color: #00ffcc;
    border-bottom-color: #ffcc00;
    border-left-color: #00ccff;
  }
  

  .ring.running::before {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .display {
    font-size: 50px;
    font-weight: bold;
    position: relative;
  }
  
  .buttons button {
    background-color: #00ccff;
    color: black;
    border: none;
    padding: 20px 30px;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  }  

  .buttons button:hover {
    background-color: #ff0080;
    color: white;
    box-shadow: 0 6px 15px rgba(255, 0, 128, 0.4); 
  }
  
  #laps {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    padding: 0 40px;
    
  }
  